.container .navbar{
    width: 100%;
    
    }






.carousel-item {
    
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .titulo-prod{
   font-family: Pacifico, sans-serif;
   
   margin-top:2%;
   margin-bottom: 2%;
  }

  .productos{
   display:flex;
   flex-wrap: wrap;
   gap: 10px 10px;

  }

  .product-card {
   flex: 1 16%;
   border: 1px solid black;
 }

 .product-image img {
   max-width: 100%;
 }

 .product-info {
   margin-top: auto;
 }







  .form {
    /* margin: 15%; */
    width: 80%;   /* Sin ancho no podemos centrar el formulario */
    padding: 2px; /* separamos los bordes del form del resto de elementos */
    border-radius: 10px; /* Redondeamos los bordes del form */
 }

 .formcontato--esquerda{
    display: flex;
    justify-content: flex-end;
 }
 .formcontato__text{
    font-family: Pacifico, sans-serif;
    margin-top:2%;
    margin-bottom: 2%;
        
 }
 .formcontato__img{
    width: 40%;
    height:40%;
    padding-top: 2rem;
 }
 .form-control{
    padding: 2px;
 }

 #firma {
    text-align: center;
}
